textarea {
    resize:none;
}
#parametersTable, #variablesTable {
table-layout:fixed;
word-break:break-all;
}

.list-group-item:hover,
#states tr:hover, 
#parametersTable tbody tr:hover,
#variablesTable tbody tr:hover {
    background:rgba(13, 138, 213, 0.1);
}

.selectedItem {
    background:rgba(0, 132, 211, 0.32);
}

.bg-danger {
  background-color: rgba(238, 55, 52, 0.15);
}

.marginfix{
	margin-top: 10px;
	margin-bottom: 15px;
}

#containerForValues,
#dataTable div:last-child {
    table-layout:fixed;
    overflow-x:scroll;
    width:80%;
}

#containerForValues .values td,
#dataTable div:last-child td {    
   max-width:60px;
    min-width:60px;
    overflow:hidden;
    
}

#containerForValues .values td:hover,
#dataTable div:last-child td:hover {
    background-color: #dff3ff;
}

#containerForHeaders,
#dataTable div:first-child{
    float:left;
    width:20%;
    overflow-x:hidden;
    border-collapse:collapse;
    border-spacing:0;
}

#containerForHeaders th, #dataTable div:first-child th {
    border-bottom-width:1px;
}
#maskWidget  td {
    max-width:60px;
    min-width:60px;
    overflow:hidden;
}

#shift,#shiftHeader {
    height:20px;
    max-height:20px;
    min-height:20px;
}
#maskToolBar .btn-group {
    float:right;
}

.fixed {
    position:fixed;
    width:200px;
}

.clear {
    float:none;
}

#selectedVarTable {
    margin-top: 20px;
}